<h2>글 수정</h2>

<%= form_for @post do |f| %>
    <%=f.label :title%>
    <%=f.text_field :title %>
    <br>
    <br>

    <%=f.label :body%>
    <%=f.text_area :body%>
    <br>
    <br>

    <%=f.label :author%>
    <%=f.text_field :author%>
    <br>
    <br>
    <%=f.submit "제출"%>
<%end%>