<h2>새 글 작성</h2>

<%= form_for Post.new do |f| %>
    <%=f.label :title%>
    <%=f.text_field :title%>
    <br>
    <br>

    <%=f.label :body%>
    <%=f.text_area :body%>
    <br>
    <br>

    <%=f.label :author%>
    <%=f.text_field :author%>
    <br>
    <br>
    <%=f.submit "제출"%>
<%end%>