<h2>저장 내역 확인</h2>

"책 제목 : " <%= @post.title%>
<br>
"작가 : " <%= @post.author%>
<br>
"내용 : " <%= @post.body%>
<br>
<br>
author: <%= @post.user&.email %>
<br>
<br>
<%=render 'comments/form', comment: Comment.new, post:@post, user: current_user%>
<br>

<%= render 'comments/comments', comments: @post.comments.order(created_at: :desc) %>
<%= link_to "뒤로가기", posts_path %>