<h2>저장 내역 확인</h2>

"책 제목 : " <%= @post.title%>
<br>
"작가 : " <%= @post.author%>
<br>
"내용 : " <%= @post.body%>
<br>
<br>
author: <%= @post.user&.email %>
<br>
<br>


<%= render 'comments/comment', comment:@post.comments%>
<%=render 'comments/form', comment: Comment.new, post:@post, user: current_user%>
<%= link_to "뒤로가기", posts_path %>