<style>
    .card-inline-item{
        display : flex;
    }
    .card-item-margin{
        margin: 0px 2px 0px 2px;
 
    }
    .card-body-tight{
        padding : 2px;
    }
    .text-bold{
        font-weight:bold;
    }
</style>

<div class="card">
    <div class="card-title text-left card-inline-item " >
    <div class="card-item-margin">
        img 
    </div>    
    <div class="card-item-margin text-bold">
        <!-- user info section -->
        <%=user[0].email%>
    </div>
    </div>
    <%if post.images.present?%>
    <div id="carouselExampleIndicators" class="carousel slide" data-touch="true">
        <ol class="carousel-indicators">
            <% post.images.count.times.each do |index| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= 'active' if (index == 0) %>"></li>
            <% end %>
        </ol>
        <div class="carousel-inner">
            <% post.images.each_with_index do |image, index| %>
            <div class="carousel-item <%= 'active' if (index == 0) %>">
                <img src="<%= image.image %>" class="d-block w-100" alt="">
            </div>
            <% end %>
        </div>
    </div>
    <%else%>
        <img src="image/instagram.png" class="card-img">
    <%end%>
    <div class="card-body card-body-tight card-inline-item">
        <div class="card_item_margin">
            <!--post like,button section -->
            <%= link_to current_user.likes.find_by(post_id: post.id).present? ? '<svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="#ff0042" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>'.html_safe : '<svg class="bi bi-heart" width="1em" height="1em" viewBox="0 0 16 16" fill="#ff0042" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 2.748l-.717-.7n37C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>'.html_safe,  check_post_like_index_path(post), remote:true %>        
        </div>
        <div class="card_item_margin">
            <!--comment-btn -->
        </div>
    </div>
    <div class="card-body card-body-tight text-left">
        <!--post like count section -->
        좋아요 <%=Like.where(post_id: post.id).size%>개
    </div>
    <div class="card-text text-left card-inline-item card-item-margin" >
        <div class="card-text text-left text-bold card-item-margin">
            <%=user[0].email%>
        </div>
        <div class="card-text text-left card-item-margin">
            <!--post description section -->
            <%= post.body%>
        </div>
    </div>
    <div class = "card-text  text-left">
        <%=render 'instagram_comments/form', comment: Comment.new, post:post, user: current_user%>

    </div>
    <div class = "card-text  text-left">
        <%=render 'instagram_comments/comments' , comments: post.comments.order(created_at: :desc)%>
    </div>
</div>